<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071642075263-9k1lsh35j2m24j0f7bsvak7tj38kfdjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071642075263-9k1lsh35j2m24j0f7bsvak7tj38kfdjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCk60-8AHyxBZn6Wd-BvMUsAgcn6fRhxMo</string>
	<key>GCM_SENDER_ID</key>
	<string>1071642075263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger61-ea694</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger61-ea694.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071642075263:ios:945f8c88963e7c1b8c5f4a</string>
	<key>DATABASE_URL</key>
	<string>https://messenger61-ea694.firebaseio.com</string>
</dict>
</plist>